@use 'sass:math';
@import '_vars';

.trip-row {
    border-bottom: 1px solid #464646;

    td {
        text-align: center;
        padding: math.div($default_spacing, 2);
        margin-bottom: $default_spacing / 2;
        vertical-align: middle;
    }
}
