// Colors
$primary: #ea638c;
$secondary: #4b92e5;
$orange: #f17b60;
$bg: #e2e9ff;
$text_default: #484967;
$text_muted: #adaeb9;
$border_default: #e2e9ff;
$danger: #f16060;

// Borders & radius
$radius: 8px;
$radius_sm: 4px;
$default_spacing: 16px;

.mixin-elevated {
    box-shadow: 0px 4px 8px 0px #00000040;
}
