@use 'sass:math';
@import '_vars';

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --orange: #{$orange};
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    height: 100%;
    color: $text_default;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.1em;
}

input,
textarea {
    font-size: 16px;
}

button {
    cursor: pointer;
}

.map-container {
    height: 100vh;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: $radius_sm;
    background-color: $primary;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
    border: 2px solid $primary;

    &:hover {
        background-color: darken($primary, 10%);
    }

    &.inverse {
        background-color: white;
        color: $primary;

        &:hover {
            border-color: white;
            background-color: $primary;
            color: white;
        }
    }

    &.sm {
        padding: 3px 8px;
    }
}

.avatar {
    position: relative;
    display: inline-block;

    .avatar-img {
        width: 48px;
        height: 48px;
        border-radius: $radius_sm;
    }

    .icon-wrapper {
        width: 18px;
        height: 18px;
        border-radius: math.div($radius_sm, 2);
        background-color: $bg;
        position: absolute;
        bottom: 0;
        right: -6px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 4px;
    }
}

.location-avatar {
    display: inline-block;
    margin-left: $default_spacing;
    text-align: center;
    .location-text {
        font-weight: bold;
        font-size: 0.7em;
        color: #adaeb9;
    }
}

.map-pin {
    transform: translate(-50%, -50%);

    .avatar {
        .icon-wrapper {
            width: 14px;
            height: 14px;
            font-size: 0.75em;
            border-color: $secondary;
            background-color: $secondary;
        }
    }

    &.away {
        .icon-wrapper {
            background-color: $orange;
            border-color: $orange;
        }

        .avatar-img {
            border-color: $orange;
        }
    }

    .avatar-img {
        border: 2px solid $secondary;
    }
}

.main-overlay {
    @extend .mixin-elevated;
    position: fixed;
    border-radius: $radius;
    background-color: $bg;
    width: 320px;
    height: 85vh;
    z-index: 400;
    margin-left: $default_spacing * 2;
    top: 10vh;
    display: flex;
    flex-direction: column;

    .header {
        background-color: $secondary;
        color: white;
        position: relative;
        text-align: center;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        height: 30%;
        margin-bottom: 10vh;

        h1 {
            margin-top: 0;
            padding-top: $default_spacing;
        }
    }

    .today {
        background-color: white;
        border-radius: $radius;
        position: absolute;
        color: $text_default;
        width: 90%;
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 50%);
        left: 50%;
        padding: $default_spacing;

        h2 {
            margin-top: 0;
            text-align: left;
        }

        .away-today {
            overflow: auto;
            white-space: nowrap;
        }
    }

    .content-wrapper {
        padding: $default_spacing;
        flex-grow: 1;
        max-height: 60%;
        display: flex;
        flex-direction: column;

        .trips {
            flex-grow: 1;
            overflow-y: auto;

            .trip-card {
                margin-bottom: $default_spacing;
            }
        }

        .footer {
            padding-top: math.div($default_spacing, 2);
            text-align: center;
            font-size: 0.9em;
        }
    }
}

.trip-card {
    &.highlighted {
        border-radius: $radius;
        background-color: $primary;
    }

    .trip-card-inner {
        background-color: white;
        border-radius: $radius;
        padding: 8px $default_spacing;
        z-index: 950;

        .trip-card-header {
            border-bottom: 1px solid $border_default;
            display: flex;
            align-items: center;
            font-weight: bold;
            padding-bottom: 8px;
            font-size: 0.85em;

            div {
                flex-grow: 1;
            }
        }
    }

    .highlighter {
        padding: $default_spacing * 0.33 $default_spacing * 0.5;
        color: white;
        display: flex;
        align-items: center;
        font-size: 0.85em;
        font-weight: bold;
        .avatar-highlight {
            border-radius: $radius_sm;
            width: 24px;
            height: 24px;
            margin-right: math.div($default_spacing, 2);
        }
    }
}
