@use 'sass:math';
@import '_vars';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    height: 100%;
}

input,
textarea {
    font-size: 16px;
}

button {
    cursor: pointer;
}

.map-container {
    height: 100vh;
    width: 100%;
}

.map-pin {
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%);
    img {
        width: 48px;
        height: 48px;
        border-radius: $radius_sm;
        border: 2px solid $secondary;
    }

    .icon-wrapper {
        width: 16px;
        height: 16px;
        border-radius: math.div($radius_sm, 2);
        background-color: $secondary;
        position: absolute;
        bottom: 0;
        right: -6px;
        border: 2px solid $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0.85em;
        padding: 4px;
    }

    &.away {
        .icon-wrapper {
            background-color: $orange;
            border-color: $orange;
        }

        img {
            border-color: $orange;
        }
    }
}
