@use 'sass:math';
@import '_vars';

.top-navigation {
    @extend .mixin-elevated;
    background-color: $bg_alt;
    height: 42px;
    display: flex;
    padding: 0 $default_spacing;
    align-items: center;

    .menu-toggle {
        margin-right: $default_spacing / 2;
        cursor: pointer;
    }

    .menu-and-logo {
        z-index: $z_overlay_on_sidebar;
    }

    .logo-main {
        font-size: 1.2em;
    }

    .nav-section {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    a {
        color: white;
    }
}

.sidebar {
    @extend .mixin-elevated;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $bg_alt;
    width: 200px;
    left: -200px;
    transition: all 0.3s ease-in-out;
    padding: $default_spacing * 2 $default_spacing;
    z-index: $z_sidebar;

    &.open {
        left: 0;
    }

    .sidebar-item {
        display: block;
        margin-bottom: $default_spacing * 2;
    }

    a {
        color: $text_default;
    }
}

.sidebar-overlay {
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;

    &.open {
        background-color: rgba(#000, 0.5);
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
}
