@use 'sass:math';
@import '_vars';

.welcome-scene {
    padding: $default_spacing * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    form {
        max-width: 460px;
        margin: 0 auto;
        padding-top: $default_spacing * 2;
    }
}
