@use 'sass:math';
@import '_vars';

.welcome-scene {
    padding: $default_spacing * 2;
    display: flex;
    justify-content: center;

    .welcome-inner {
        max-width: 500px;
        h1 {
            text-align: center;
        }
    }

    form {
        margin: 0 auto;
        padding-top: $default_spacing * 2;
    }
}
