// Main colors
$primary: #4381c1;
$secondary: #ec9ded;
$orange: #e39805; // Restricted use

// Background colors
$bg: #272f3b;
$bg_alt: #101419;
$bg_input: #3c4b5d;

// Text colors
$text_default: #fff;
$text_muted_light: #d0d0d0;
$text_muted: #adadad;

// Stateful colors
$danger: #ef767a;
$warning: #e3b505;
$success: #49dcb1;

// Borders & radius
$radius: 8px;
$radius_lg: 50%;
$radius_sm: 4px;
$default_spacing: 16px;
$border: #464646;

// Z Indices
$z_sidebar: 4000;
$z_overlay_on_sidebar: 4053;

.mixin-elevated {
    box-shadow: 0px 4px 8px 0px #00000040;
}

// Fonts
$font_family: 'Merriweather', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
