@use 'sass:math';
@import '_vars';
@import 'fonts';
@import '../node_modules/@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css';
@import '../node_modules/react-calendar/dist/Calendar.css';
@import '../node_modules/rc-slider/assets/index.css';

// Root styles
:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --orange: #{$orange};
    --danger: #{$danger};
    --text-default: #{$text_default};
    --text-muted: #{$text_muted};
    --text-muted-light: #{$text_muted_light};
}

// Reset styles
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Merriweather', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: $bg;
    overflow: hidden;
    height: 100%;
    color: $text_default;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.1em;
    color: $text_muted_light;
}

input,
textarea {
    font-size: 16px;
}

button {
    cursor: pointer;
}

// General styles
.main-layout {
    height: calc(100vh - 42px); // height of top bar
    width: 100%;

    .scene:not(.home-scene) {
        padding: $default_spacing $default_spacing * 2;
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.mt {
    margin-top: $default_spacing;
}

.mb {
    margin-bottom: $default_spacing;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: $text_muted;
}

.text-muted-light {
    color: $text_muted_light;
}

.text-danger {
    color: $danger;
}

a {
    color: $primary;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

// Button styles
.btn {
    border-radius: $radius;
    background-color: $primary;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
    border: 2px solid $primary;

    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }

    &.inverse {
        background-color: white;
        color: $primary;

        &:hover {
            border-color: white;
            background-color: $primary;
            color: white;
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
    }

    &.link {
        background-color: transparent;
        color: $primary;
        border-color: transparent;
        font-weight: normal;
        padding-left: 0;
    }

    &.sm {
        padding: 3px 8px;
    }

    &.lg {
        padding: 8px 16px;
        font-size: 1rem;
    }
}

// Form styles

.form-group {
    margin-bottom: $default_spacing;
    label {
        font-size: 0.85em;
        display: block;
        font-weight: bold;
        padding-bottom: math.div($default_spacing, 2);
    }
    .help-text {
        padding-top: 4px;
        font-size: 0.75em;
    }
}

// Date range picker

.react-daterange-picker {
    width: 100%;
    .react-daterange-picker__wrapper {
        border-radius: $radius_sm;
        padding: 8px;
        font-size: 0.85em;
    }
    .react-daterange-picker__inputGroup__month {
        width: 44px;
    }

    .react-daterange-picker__inputGroup {
        color: white;
        input,
        select {
            color: white;
        }
    }

    .react-daterange-picker__range-divider {
        flex-grow: 1;
        display: flex;
    }

    &.errored {
        .react-daterange-picker__wrapper {
            border-color: $danger;
        }
    }
}

.react-calendar {
    @extend .mixin-elevated;
    margin-top: $default_spacing * 0.5;
    border-radius: $radius_sm;
    background-color: $bg_input;

    .react-calendar__navigation__arrow,
    .react-calendar__navigation__label {
        color: white;
    }

    .react-calendar__tile {
        border-radius: $radius_sm;
        color: $text_default;

        &.react-calendar__tile--active {
            border-radius: 0;
            background-color: $primary;
            color: white;
        }

        &.react-calendar__tile--hover {
            border-radius: 0;
            background-color: lighten($bg_alt, 50%);
        }

        &.react-calendar__tile--rangeStart {
            border-top-left-radius: $radius_sm;
            border-bottom-left-radius: $radius_sm;
        }

        &.react-calendar__tile--rangeEnd {
            border-top-right-radius: $radius_sm;
            border-bottom-right-radius: $radius_sm;
        }

        &.react-calendar__month-view__days__day--weekend {
            color: rgba($text_default, 0.6);
        }

        &.react-calendar__tile--now {
            background-color: $bg;
        }
    }
}

// React select

.react-select__control {
    font-size: 0.85em;
    background-color: $bg_input !important;

    .react-select__placeholder {
        color: $text_muted;
    }

    .react-select__single-value {
        color: white !important;
    }

    &.react-select__control--is-focused {
        box-shadow: none !important;
    }

    .react-select__clear-indicator {
        color: $text_muted;
        cursor: pointer;
    }

    .react-select__indicator-separator {
        background-color: $border;
    }
}

.react-select__menu {
    background-color: $bg_alt !important;

    .react-select__option:hover {
        background-color: $bg_input !important;
    }
}
.react-select__errored {
    .react-select__control {
        border-color: $danger !important;
    }
}
