@use 'sass:math';
@import '_vars';
@import 'fonts';
@import 'vendor';
@import '../node_modules/@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css';
@import '../node_modules/react-calendar/dist/Calendar.css';
@import '../node_modules/rc-slider/assets/index.css';
@import '../node_modules/react-toastify/dist/ReactToastify.min.css';

// Root styles
:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --orange: #{$orange};
    --danger: #{$danger};
    --text-default: #{$text_default};
    --text-muted: #{$text_muted};
    --text-muted-light: #{$text_muted_light};

    // Override Toastify
    --toastify-color-dark: #{$bg_elevated};
    --toastify-color-success: #{$success};
    --toastify-color-warning: #{$warning};
    --toastify-color-error: #{$danger};
    --toastify-font-family: #{$font_family};
}

// Reset styles
html {
    box-sizing: border-box;
    margin-top: 42px !important; // To account for top bar
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font_family;
    background: $bg;
    height: 100%;
    color: $text_default;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.1em;
    color: $text_muted_light;
}

input,
textarea {
    font-size: 14px;
    font-family: $font_family;
    background-color: $bg_input;
    border-radius: $radius;
    border: 1px solid $bg_input;
    padding: math.div($default_spacing, 2);
    color: $text_default;
    width: 100%;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.errored {
        border-color: $danger;
        &:focus {
            outline: none;
        }
    }
}

button {
    cursor: pointer;
}

// General styles
.main-layout {
    height: calc(100vh - 42px); // height of top bar
    width: 100%;

    .scene:not(.home-scene) {
        padding: $default_spacing $default_spacing * 2;
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.mt {
    margin-top: $default_spacing;
}

.mb {
    margin-bottom: $default_spacing;
}

.mt-05 {
    margin-top: math.div($default_spacing, 2);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: $text_muted;
}

.text-muted-light {
    color: $text_muted_light;
}

.text-danger {
    color: $danger;
}

a {
    color: $primary;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

// Card styles
.card {
    @extend .mixin-elevated;
    border-radius: $radius;
    background-color: $bg_alt;
    padding: $default_spacing;
}

// Button styles
.btn {
    @extend .mixin-elevated;
    border-radius: $radius;
    background-color: $primary;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 6px 10px;
    transition: all 0.3s ease-out;
    border: 2px solid $primary;

    &:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
    }

    &.inverse {
        background-color: white;
        color: $primary;

        &:hover {
            border-color: white;
            background-color: $primary;
            color: white;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
        background-color: lighten($primary, 5%);
        border-color: lighten($primary, 5%);
        &:hover {
            background-color: lighten($primary, 5%);
            border-color: lighten($primary, 5%);
        }
    }

    &.link {
        background-color: transparent;
        color: $primary;
        border-color: transparent;
        font-weight: normal;
        padding-left: 0;
    }

    &.sm {
        padding: 3px 8px;
    }

    &.lg {
        padding: 8px 16px;
        font-size: 1rem;
    }

    &.block {
        width: 100%;
    }
}

// Form styles
.form-group {
    margin-bottom: $default_spacing;
    label {
        font-size: 0.85em;
        display: block;
        font-weight: bold;
        padding-bottom: math.div($default_spacing, 2);
    }
    .help-text {
        padding-top: 4px;
        font-size: 0.75em;
    }
    .error-text {
        margin-top: math.div($default_spacing, 4);
        font-size: 0.85em;
        color: $danger;
    }
}

// Grid styles
.grid {
    display: flex;
    .col-12 {
        width: 50%;
        margin-right: $default_spacing;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
